body {
	font-family: Arial, sans-serif;
	background-color: #87e0fd;
}

.tower {
	border: 1px solid black;
	width: 200px;
	height: 300px;
	display: inline-block;
	margin: 20px;
}

.piece {
	margin: 0 auto;
	position: relative;
	top: 240px;
	border-radius: 5px;
	height: 15px;
}

#piece1 {
	background-color: red;
	width: 30px;
}

#piece2 {
	background-color: purple;
	width: 50px;
}

#piece3 {
	background-color: yellow;
	width: 70px;
}

#piece4 {
	background-color: black;
	width: 90px;
}

#piece5 {
	background-color: orange;
	width: 110px;
}

#piece6 {
	background-color: green;
	width: 130px;
}

#piece7 {
	background-color: blue;
	width: 150px;
}

#piece8 {
	background-color: white;
	width: 170px;
}

.selected {
	border: 1px dashed black;
}

.win {
	background-color: #81C784;
	text-align: center;
	font-weight: bold;
	display: none;
}

.lose {
	background-color: #E57373;
	text-align: center;
	font-weight: bold;
	display: none;
}